<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\logs\internal-nlog.log">

  <targets>
    <target xsi:type="File"
            name="microsoft"
            fileName="c:\temp\logs\microsoft-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=tostring}"
            archiveFileName="c:\temp\logs\archives\microsoft-all-log.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="false"/>

    <target xsi:type="File"
            name="nlogfile"
            fileName="c:\temp\logs\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=tostring}"
            archiveFileName="c:\temp\logs\archives\nlog-all-log.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="false"/>
  </targets>

  <rules>
    <!--Microsoft logs only-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="microsoft" final="true" />

    <!--All other logs-->
    <logger name="*" minlevel="Trace" writeTo="nlogfile" />
  </rules>
</nlog>